# Final Project Update - Raw Dataset Assignment Template

## Dataset 1

In [1]:
print('hello world')

hello world

## Dataset 2

- This dataset came from GitHub
- You can view the raw data from this link
- [Dataset](https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.xlsx)
- The website that I got this from is [here](https://ourworldindata.org/coronavirus-source-data)
- There's a lot of information here on the total of cases, total of new cases, etc.
- The questions that I want to ask are how often are new cases are rising and what total that brings the United States to having the total of COVID cases.
- I'm hoping to get these answers and hopefully this will show how the United States is handling the COVID-19 pandemic.

In [4]:
import pandas as pd
df = pd.read_csv('USA-COVID-19-Data.csv')

In [5]:
df.head(10)

,USA,North America,United States,2020-01-22,1,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,54225.446,1.2,151.089,10.79,19.1,24.6,Unnamed: 55,2.77,78.86,0.926
0,USA,North America,United States,2020-01-23,1,0,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
1,USA,North America,United States,2020-01-24,2,1,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
2,USA,North America,United States,2020-01-25,2,0,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
3,USA,North America,United States,2020-01-26,5,3,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
4,USA,North America,United States,2020-01-27,5,0,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
5,USA,North America,United States,2020-01-28,5,0,0.571,NaN,NaN,0,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
6,USA,North America,United States,2020-01-29,6,1,0.714,NaN,NaN,0,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
7,USA,North America,United States,2020-01-30,6,0,0.714,NaN,NaN,0,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
8,USA,North America,United States,2020-01-31,8,2,0.857,NaN,NaN,0,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
9,USA,North America,United States,2020-02-01,8,0,0.857,NaN,NaN,0,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926

In [6]:
df.tail(10)

,USA,North America,United States,2020-01-22,1,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,54225.446,1.2,151.089,10.79,19.1,24.6,Unnamed: 55,2.77,78.86,0.926
420,USA,North America,United States,2021-03-18,29668959,60501,54689.286,540050,1616,1223.286,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
421,USA,North America,United States,2021-03-19,29730486,61527,54735.429,541144,1094,1156.286,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
422,USA,North America,United States,2021-03-20,29785935,55449,55054.571,541920,776,1020,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
423,USA,North America,United States,2021-03-21,29819701,33766,54418,542363,443,1001,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
424,USA,North America,United States,2021-03-22,29871268,51567,53692,542922,559,974.857,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
425,USA,North America,United States,2021-03-23,29924892,53624,53646.857,543810,888,935.857,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
426,USA,North America,United States,2021-03-24,30011839,86947,57625.857,545264,1454,975.714,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
427,USA,North America,United States,2021-03-25,30079282,67443,58617.571,546822,1558,967.429,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
428,USA,North America,United States,2021-03-26,30156621,77339,60876.429,548087,1265,991.857,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
429,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index

In [7]:
df.shape

(430, 59)