# Raw Dataset

In [1]:
import pandas as pd
df = pd.read_csv('USA-COVID-19-Data.csv')

In [3]:
df.head(10)

,USA,North America,United States,2020-01-22,1,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,54225.446,1.2,151.089,10.79,19.1,24.6,Unnamed: 55,2.77,78.86,0.926
0,USA,North America,United States,2020-01-23,1,0,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
1,USA,North America,United States,2020-01-24,2,1,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
2,USA,North America,United States,2020-01-25,2,0,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
3,USA,North America,United States,2020-01-26,5,3,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
4,USA,North America,United States,2020-01-27,5,0,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
5,USA,North America,United States,2020-01-28,5,0,0.571,NaN,NaN,0,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
6,USA,North America,United States,2020-01-29,6,1,0.714,NaN,NaN,0,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
7,USA,North America,United States,2020-01-30,6,0,0.714,NaN,NaN,0,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
8,USA,North America,United States,2020-01-31,8,2,0.857,NaN,NaN,0,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
9,USA,North America,United States,2020-02-01,8,0,0.857,NaN,NaN,0,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926

In [4]:
df.tail(10)

,USA,North America,United States,2020-01-22,1,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,54225.446,1.2,151.089,10.79,19.1,24.6,Unnamed: 55,2.77,78.86,0.926
420,USA,North America,United States,2021-03-18,29668959,60501,54689.286,540050,1616,1223.286,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
421,USA,North America,United States,2021-03-19,29730486,61527,54735.429,541144,1094,1156.286,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
422,USA,North America,United States,2021-03-20,29785935,55449,55054.571,541920,776,1020,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
423,USA,North America,United States,2021-03-21,29819701,33766,54418,542363,443,1001,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
424,USA,North America,United States,2021-03-22,29871268,51567,53692,542922,559,974.857,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
425,USA,North America,United States,2021-03-23,29924892,53624,53646.857,543810,888,935.857,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
426,USA,North America,United States,2021-03-24,30011839,86947,57625.857,545264,1454,975.714,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
427,USA,North America,United States,2021-03-25,30079282,67443,58617.571,546822,1558,967.429,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
428,USA,North America,United States,2021-03-26,30156621,77339,60876.429,548087,1265,991.857,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
429,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index

In [5]:
df.shape

(430, 59)

# Tidied Dataset
- The data that is represented in this dataset are the cases, deaths and positive rates of COVID-19 in the United States.
- I found this data from GitHub. You can view the dataset from [here](https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.xlsx) and you can view the website that provided me the dataset from [here](https://ourworldindata.org/coronavirus-source-data).
- [Raw Dataset](https://docs.google.com/spreadsheets/d/1GBJy8yw5qCFznnbQrCRLgEIkYECzPnjOCSEfS-wJ7LY/edit?usp=sharing) in google sheets.
- [Tidied Dataset](https://docs.google.com/spreadsheets/d/1kJ7lQxOaJeWXVLXZQjHhEHUnLCV0j2jrjVcYIzWx_-4/edit?usp=sharing) in google sheets.
- To tidy the data up, I first thought of what I thought would be important for my final project. I knew that the location and the date would be needed and then I knew that the cases and deaths might be needed for my project. I kept the positive rate in just in case I thought it would be needed while working on this project.  I think these columns were the most important to my story.
- Again, I want to focus on how the United States has been handling COVID-19 throughout this pandemic and to show whether the cases are still rising or dropping in the US. I think that this data will be really useful because it shows how many new cases have been appearing every day since 2020.
- I sort of just wanted to see how many cases are still happening in 2021 and how many deaths are also happening.  I also think that the positive rate will be useful, I just am not sure if I understand that part of the data yet.

In [6]:
df = pd.read_csv('USA-COVID-19-Data-Tidied.csv')

In [7]:
df.head(10)

,location,date,total_cases,new_cases,total_deaths,new_deaths,positive_rate
0,United States,2020-01-22,1,NaN,NaN,NaN,NaN
1,United States,2020-01-23,1,0.0,NaN,NaN,NaN
2,United States,2020-01-24,2,1.0,NaN,NaN,NaN
3,United States,2020-01-25,2,0.0,NaN,NaN,NaN
4,United States,2020-01-26,5,3.0,NaN,NaN,NaN
5,United States,2020-01-27,5,0.0,NaN,NaN,NaN
6,United States,2020-01-28,5,0.0,NaN,NaN,NaN
7,United States,2020-01-29,6,1.0,NaN,NaN,NaN
8,United States,2020-01-30,6,0.0,NaN,NaN,NaN
9,United States,2020-01-31,8,2.0,NaN,NaN,NaN

In [8]:
df.tail(10)

,location,date,total_cases,new_cases,total_deaths,new_deaths,positive_rate
420,United States,2021-03-17,29608458,59094.0,538434.0,1175.0,0.049
421,United States,2021-03-18,29668959,60501.0,540050.0,1616.0,0.050
422,United States,2021-03-19,29730486,61527.0,541144.0,1094.0,0.051
423,United States,2021-03-20,29785935,55449.0,541920.0,776.0,0.054
424,United States,2021-03-21,29819701,33766.0,542363.0,443.0,0.055
425,United States,2021-03-22,29871268,51567.0,542922.0,559.0,0.059
426,United States,2021-03-23,29924892,53624.0,543810.0,888.0,0.069
427,United States,2021-03-24,30011839,86947.0,545264.0,1454.0,NaN
428,United States,2021-03-25,30079282,67443.0,546822.0,1558.0,NaN
429,United States,2021-03-26,30156621,77339.0,548087.0,1265.0,NaN

In [9]:
df.shape

(430, 7)